{% extends 'social/layout.html' %}

{% block content %}



<section class="conoceme-section">
    <h1>Nicolás Agustín Molina</h1>

    <p>Soy estudiante de último año en una escuela técnica especializada en electromecánica. Mi interés por la programación me llevó a inscribirme en un curso de Python en Coderhouse.</p>
    <p>Esta es mi primera experiencia programando. Aunque soy nuevo en este mundo, estoy emocionado por aprender y enfrentar nuevos desafíos.</p>
    <p>A futuro espero aprender sobre inteligencia artificial y mecatrónica. Se podria decir que por esto empezo mi interes por Python.</p>
    <p>Al principio, estaba increíblemente motivado y quería pasar todo el día programando. Después de algunos meses, esa motivación disminuyó y enfrenté dificultades para entender algunos conceptos. Sin embargo, me esforcé por superar esos desafíos y ahora estoy nuevamente motivado y listo para seguir aprendiendo y creciendo como programador.</p>
</section>

{% endblock %}
