<!-- social/profile.html -->
{% extends 'social/feed.html' %}
{% block content %}

<style>
    /* Estilos para el enlace de personalizar perfil */
    a.customize-profile-link {
        color: #fff; /* Cambia el color del texto */
        background-color: #007bff; /* Cambia el color de fondo */
        padding: 8px 12px; /* Ajusta el relleno del enlace */
        border-radius: 5px; /* Agrega bordes redondeados */
        text-decoration: none; /* Elimina el subrayado del enlace */
        margin-right: 10px; /* Agrega un margen derecho para separación */
    }

    a.customize-profile-link:hover {
        background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
    }
</style>

<div class="profile">
    <img src="{{ user.profile.image.url }}">
    <h2>@{{ user.username }}</h2>

    {% if user.profile.biography %}
        <p>{{ user.profile.biography }}</p>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if user.username != request.user.username %}
            {% if user not in request.user.profile.following %}
            <button><a class="follow-button" href="{% url 'follow' user %}">Follow</a></button>
            {% else %}
            <button><a class="follow-button" href="{% url 'unfollow' user %}">Unfollow</a></button>
            {% endif %}
            <!-- Agregar enlace para enviar y ver mensajes -->
            <a href="{% url 'manage_messages' user.username %}">Mensajes</a>
        {% endif %}

        <br>
        <br>
        <a href="{% url 'change_profile_picture' %}" class="customize-profile-link">Personalizar Perfil</a>
    {% endif %}
</div>

<div class="follow">
    <div>
        <h5>Post</h5>
        <p>{{ user.posts.count }}</p>
    </div>
    <div>
        <h5>Followers</h5>
        <p>{{ user.profile.followers.count }}</p>
    </div>
    <div>
        <h5>Following</h5>
        <p>{{ user.profile.following.count }}</p>
    </div>
</div>

{{ block.super }}
{% endblock %}
